<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.loginactivity"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Jwab"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name="org.techtown.projectmain.ProjectAdd"
            android:label="프로젝트 만들기"
            >
        </activity>


        <activity android:name="org.techtown.projectinner.InnerMainRecycler"
            android:label="projectInner"
            tools:ignore="Instantiatable">

        </activity>

        <activity
            android:name="org.techtown.board.BoardMainRecycler">
        </activity>

        <activity
            android:name="org.techtown.board.BoardAdd">
        </activity>

        <activity
            android:name="org.techtown.projectmain.ProjectHome"
           />
        <activity
            android:name=".SignActivty"
            android:label="회원가입"
            android:theme="@style/Theme.AppCompat.Dialog" />




        <activity android:name="org.techtown.randomgame.RandomGameFirst">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>




        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <activity
           android:name="org.techtown.calendar.innercalendar">

       </activity>

    </application>

</manifest>